/* Globals */

body
{
	font-family: "sofia-pro-soft", sans-serif;
	font-weight: lighter;
	min-width: 320px;
	line-height: 1.5;
	background: antiquewhite;
	font-size: 18px;
}

article, main
{
	min-height: 640px;
}

a
{
	text-decoration: none;
	color: mediumslateblue;
}

.page-width
{
	max-width: 640px;
}

.page-centre
{
	margin-left: auto;
	margin-right: auto;
}

.hoz-rule
{
	max-width: 960px;
	height: 8px;
	opacity: 0.3;
	border-radius: 4px;
	margin-left: auto;
	margin-right: auto;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff00ff+0,0000ff+100 */
	background: rgb(255,0,255); /* Old browsers */
	background: -moz-linear-gradient(left, rgba(255,0,255,1) 0%, rgba(0,0,255,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(255,0,255,1) 0%,rgba(0,0,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(255,0,255,1) 0%,rgba(0,0,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff00ff', endColorstr='#0000ff',GradientType=1 ); /* IE6-9 */
}

/* Page Header */

header
{
	line-height: 1;
	font-family: "coquette";
	font-weight: bold;
	font-size: 14px;
	margin: 0;
	margin-bottom: -96px;
	padding-right: 88px;
	height: 96px;
	background-image: url('/images/header-background-mobile.png');
	background-position: center;
	display: flex;
	flex-direction: row;
	align-items: center;
}

header h1
{
	max-width: 300px;
	padding: 0 0 0 12px;
	margin: 0;
}

header a
{
	text-decoration: none;
	color: inherit;
}

/* Navigation */

nav i
{
	width: 48px;
	height: 48px;
	border-width: 2px;
	border-style: solid;
	background: rgba(255, 255, 255, 0.5);
	border-radius: 8px;
}

#menu-toggle
{
	display: block;
	margin: 22px 12px 22px auto;
}

#top-nav ul
{
	font-weight: normal;
	padding: 0 12px 0 12px;
	display: flex;
	flex-direction: column;
}

#top-nav li
{
	list-style-type: none;
	margin: 0;
	padding: 8px 0 8px 0;
}

.inline-image
{
	width: 240px;
	margin: auto;
	display: block;
	border-radius: 8px;
}

.hidden
{
	display: none !important;
}

#hrHack /* Temporary hack to make the initial HR element disappear on mobile - long term need to remove the HRs! */
{
	display: none; 
}

/* Content */

/* Contact Form */

#contactForm input, #contactForm textarea /* Make HTML form elements display at the correct sizes */
{
	box-sizing: border-box;
	-webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
  -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
}

#contactForm
{
  max-width: 400px;
  margin: auto;
}

#contactForm div
{
	display: flex;
	padding: 4px 0;
}

#contactForm label
{
	width: 50px;
  flex-grow: 0;
}

#contactForm input
{
	flex-grow: 1;
}

#contactMessage
{
  width: 100%;
  height: 160px;
}

#contactForm #contactSumbit
{
	margin-left: auto;
  margin-right: 0;
  font-size: 120%;
  padding: 2px 16px 2px 16px;
  background-color: mediumslateblue;
  border: none;
  color: white;
  flex-grow: 0;
}

/* Datalist */

.session-title
{
	margin-bottom: 0;
}

.session-time
{
  margin-top: 0;
}

.session-description
{
	margin-top: 0;
}

/* Page Footer */

footer
{
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: right;
}

/* Desktop View Overrides */

@media only screen and (min-width: 660px)
{
	.hidden
	{
		display: flex !important;
	}

	#hrHack
	{
		display: block;
	}

	/* Page Header */

	header
	{
		height: 212px;
		margin: 0;
		padding: 0;
		background-image: url('/images/header-background.png');
		background-position: center;
		background-repeat: no-repeat;
	}

	header h1
	{
		font-size: 64px;
		text-align: center;
		margin-right: auto;
		margin-left: auto;
		max-width: 640px;
	}

	/* Navigation */

	#menu-toggle /* Hide hamburger button in desktop view */
	{
		display: none;
	}

	#top-nav ul
	{
		flex-direction: row;
		justify-content: space-between;
		padding: 0;
	}

	#top-nav li
	{
		padding: 0;
	}

	.image-right
	{
		float: right;
		margin-left: 8px;
	}

	.image-left
	{
		float: left;
		margin-right: 8px;
	}

	/* Content */

	/* Availability Table */

	#availabilityTable
	{
	  margin: auto;
	  width: 80%;
	}

	/* Datalist */

	.session-title
	{
		margin-bottom: 0;
	}

	.session-time
	{
		float: right;
	  margin-top: -1.17em;
	}

	.session-description
	{
		margin-top: 0;
	}

}